*~
.DS_Store
.cache
.lsp-session-*
.org-generic-id-locations
.org-id-locations
.recentf
archive-contents
async-bytecomp.log
auto-save-list/
elpa/*-readme.txt
elpa/archives/
elpa/gnupg/
ido.last
magithub/
network-security.data
org-gcal/
persist/
places
recentf
request/
scrap/
transient/
url/
vimish-fold/
eln-cache
