.org-generic-id-locations
.org-id-locations
.recentf
auto-save-list/
elisp-autofmt-cache/
eln-cache/
elpa/archives/
elpa/gnupg/pubring.kbx
elpa/gnupg/pubring.kbx~
elpa/neocaml/
history
oauth2-auto.plist
persist/
places
projectile-bookmarks.eld
request/
scrap/
timezone.el
transient/
tree-sitter/
