**/*.elc
.cache/
/.org-generic-id-locations
/.org-id-locations
/.recentf
/auto-save-list/
/elisp-autofmt-cache/
/eln-cache/
/elpa/archives/
/elpa/gnupg/
/elpa/neocaml/
/tree-sitter/
/flycheck_init.el
/history
/ido.last
/oauth2-auto.plist
/persist/
/places
/projectile-bookmarks.eld
/projects
/request/
/scrap/
/timezone.el
/tramp
/transient/
